- var pageTitle = "Reset Password";

doctype html
html(lang="en")
  head
    include includes/meta.pug
    include includes/style.pug
    title #{pageTitle}
  body
    #emad-app
      .containers
        .left-container
          img(class="logo", src="../img/logoWhite.png",alt="Logo")
          .content
            h2 Forgot Password?
            h3 Don't worry, enter your email and we will send you mail to reset it.
            a(href="loginPage.html")
              button(type="submit") Back to sign in page
        .right-container
          form(action="", method="post", @submit.prevent="validateReset")
            h1 Reset password
            .form-email
              input(type="text", name="email", autocomplete="off", placeholder="Type Your Email", v-model="email")
              label Your Email
            button(class="send", type="submit" :disabled="!email")
              span Reset password
            .error(v-for="error in formErrors") {{ error }}

    include includes/scripts.pug