<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/log_reg.css">
    <title>Sign in</title>
  </head>
  <body>
    <div id="emad-app">
      <div class="containers">
        <div class="left-container">
          <div class="content">
            <h2>Welcome Back!</h2>
            <h3>To keep connected with us, please login with your personal info.</h3><a href="signUp.html">
              <button type="submit">Sign up</button></a>
          </div>
        </div>
        <div class="right-container"><img class="logo" src="../img/logo2.png" alt="Logo">
          <form action="" method="post" @submit="validateForm">
            <h1>Sign in</h1>
            <div class="form-username">
              <input type="text" name="userName" autocomplete="off" placeholder="Type Your Username" v-model="userName">
              <Label>Your Username</Label>
            </div>
            <div class="form-password">
              <input class="visible-input" :type="fieldType" autocomplete="off" name="password" placeholder="Type Your Password" v-model="password">
              <Label>Your Password</Label>
              <button class="visible-button" @click.prevent="switchField" @click="selected = !selected"><span v-if="!selected"><i class="fas fa-eye fa-s"></i></span><span v-else="selected"><i class="fas fa-eye-slash fa-s"></i></span></button>
            </div>
            <button class="send" type="submit" :disabled="!userName || !password"><span>Sign in</span></button><br><a class="forget" href="resetPassword.html">Forgot your email or password?</a>
            <div class="error" v-for="error in formErrors">{{ error }}</div>
          </form>
        </div>
      </div>
    </div>
    <script src="../js/vue.js"></script>
    <script src="../js/website.js"></script>
    <script src="https://kit.fontawesome.com/5c514b09fd.js" crossorigin="anonymous"></script>
  </body>
</html>